.bp4-tooltip2 p {
  max-width: 44ch;
}
.bp4-tooltip2 p:last-child {
  margin-bottom: 0;
}

.hotkey-tooltip {
  display: flex;
  padding: 0;
  font-family: monospace;
  flex-direction: row;

  &__info {
    padding: 0;
  }

  &__hotkey {
    margin-left: 1em;
    padding: 0;
  }
}
