.event-beam-dialog {
  &__current-phase input {
    cursor: pointer;
  }
  .bp4-multi-select {
    overflow-y: auto;
    max-height: 5rem;
  }
}
.bp4-dialog:has(.create-event-beam-settings) {
  min-width: 750px;
  .form-value {
    min-width: 430px;
  }
}

.hotkey-reminder {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
